body {
    background-color: #2D2838;
}

.container {
    width: 950px;
    padding: 25px;
    margin: auto;
}

.title {
    text-align: center;
    margin: 10px 50px;
    background-color: #88BBF2;
}

.entry-input {
    max-width: 600px;
    margin-bottom: 25px;
}

input {
    background-color: #ccc;
    color: #333;
    padding-left: 10px;
}

table {
    background-color: #333;
    color: #ddd;
}

.trad,
.simp {
    width: 150px;
}

.pinyin {
    width: 250px;
}

.english {
    width: 400px;
}

.selectable {
    cursor: pointer;
}

.altEnglish {
    border-top: 1px solid #DDD;
    margin-top: 5px;
    padding-top: 5px;
}

.dropdown {
    background-color: #eee;
}

.right-big-down {
    font-size: 1.5em;
    float: right;
}

.trad,
.simp,
.pinyin {
    vertical-align: text-top;
}

.label-box {
    display: inline-block;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    padding-left: 1.5em;
    padding-right: 0.5em;
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
}

.label-box-text {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
