doctype html
html(lang="en")
    head
        title Chinese Dictionary
        link(rel="stylesheet" href="/vendor/components-font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/vendor/pure/pure-min.css")
        link(rel="stylesheet" href="/css/app.css")

    body(ng-app="ngApp")
        .container
            .title
                h1 Chinese Dictionary

            div(ng-controller="EntryCtrl")
                //- Query input
                form.pure-g.entry-input
                    span.pure-u-5-24.label-box.label-box-text Random
                    input.pure-u-16-24(type="text" ng-model="numRandom")
                    span.pure-u-2-24
                        button.pure-button.pure-button-primary(type="submit" ng-click="getRandom()")
                            i.fa.fa-repeat

                form.pure-g.entry-input
                    select(ng-model="searchLang").pure-u-5-24.label-box
                        option(value="english") English
                        option(value="chinese") Chinese
                        option(value="pinyin") Pinyin
                    input.pure-u-16-24(type="text" ng-model="searchTerm")
                    span.pure-u-2-24
                        button.pure-button.pure-button-primary(type="submit" ng-click="search()")
                            i.fa.fa-search
                .pure-g.entry-input(ng-show="searchLang === 'english'" id="search-options-bar")
                    span.pure-u-2-24
                    span(id="search-options-cell").pure-u-20-24
                        label
                            input(type="checkbox" ng-model="wholeWord")
                            | Whole word

                //- Dictionary table
                table.pure-table.pure-table-horizontal
                    thead
                        tr
                            td.trad Traditional
                            td.simp Simplified
                            td.pinyin Pinyin
                            td.english English
                    tbody
                        tr(ng-repeat="entry in entries")
                            td.trad {{entry.trad}}
                            td.simp {{entry.simp}}
                            td.pinyin {{entry.pinyin}}
                            td.english(ng-click="showAltEnglish(entry)" ng-class="{selectable: entry.english[1]}")
                                span {{entry.english[0]}}
                                    i.fa.fa-angle-down.right-big-down(ng-if="entry.english[1]")
                                    div.altEnglish(ng-repeat="oneEnglish in entry.english.slice(1)" ng-if="entry.showAltEnglish") {{oneEnglish}}
                                //- ul.list-group.inner.list-unstyled(ng-if="entry.showAltEnglish")
        
        script(src="/vendor/angular/angular.min.js")
        script(src="/js/app.js")
