doctype html
html(lang="en")
    head
        title Chinese Dictionary
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        script(src="/vendor/angular/angular.js")
        script(src="/js/app.js")

    body(ng-app="ngApp")
        .container
            h1 Chinese Dictionary
            ul.list-group(ng-controller="EntryCtrl")
                li.list-group-item(ng-repeat="(trad, entry) in entries")
                    | {{trad}}: {{entry.english[0]}}
                    // change to .row and then .col-md-XX for each language
